# {{ title }}

<p align="center"><strong>{{ description_zh }}</strong></p>
<p align="center">{{ tagline_zh }}</p>
<p align="center">
  <a href="{{ stars_link_url }}"><img src="{{ stars_badge_url }}" alt="GitHub Stars"></a>
  <a href="../LICENSE"><img src="{{ license_badge_url }}" alt="License"></a>
  <img src="{{ language_badge_url }}" alt="Language">
</p>
<p align="center">
  简体中文 | <a href="../README.md">English</a>
</p>

## 功能
{% for item in features_zh %}
- {{ item }}
{% endfor %}

## 安装
```bash
{% for item in installation %}
{{ item }}
{% endfor %}
```

## 使用
```bash
{% for item in usage %}
{{ item }}
{% endfor %}
```

## 命令行
| 命令 | 说明 |
| --- | --- |
{% for command in commands_zh %}
| `{{ command.name }}` | {{ command.description }} |
{% endfor %}

## 路线图
{% for item in roadmap_zh %}
- {{ item }}
{% endfor %}

## 贡献
{{ contributing_zh }}

## 许可证
{{ license_name }}

## Star History

![Star History Chart](https://api.star-history.com/svg?repos={{ repo_slug }}&type=Date)
